@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  color: #000;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
}

body.noScroll {
  overflow: hidden;
  padding-right: 12px;
}

.container {
  margin: 0 auto;
}

.container-small {
  max-width: 960px;
}

.container-big {
  max-width: 100%;
  padding: 0 24px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
}

.shadow {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  background: #fff;
  padding: 19px 24px;
  height: 60px;
  max-height: 60px;
  flex: 1;
  border: 2px solid rgba(0, 70, 133, 0.2);
  border-radius: 8px;
  font-size: 16px;
  color: #000;
}

.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4588235294);
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.4588235294);
}

.form__button {
  padding: 14px 32px;
  width: 142px;
  height: 60px;
  background: #d30531;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease background;
}

.form__button:hover {
  background: #E1133F;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 68px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background: #fff;
  z-index: 2;
  position: relative;
}

.header__logo {
  max-width: 295px;
  margin-right: 38px;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  position: fixed;
  background: #fff;
  left: 0;
  top: 68px;
  bottom: 0;
  height: 100%;
  width: 280px;
  padding: 20px;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.header__menu.active {
  opacity: 0.95;
  transform: translateX(0);
}

.menu__block {
  margin-bottom: 40px;
}

.menu__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 18px;
}

.menu a.menu__link {
  display: inline-block;
  color: #004685;
  text-decoration: underline;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;
}

.menu a.menu__link:last-child {
  margin-bottom: 0;
}

.menu a.menu__link:hover {
  color: #569EDC;
}

.help {
  position: relative;
}

.help .icon {
  cursor: pointer;
  transition: 0.2s ease color;
  color: #004685;
}

.help .icon svg {
  fill: currentColor;
}

.help .icon svg g g {
  stroke: currentColor;
}

.help .icon:hover {
  color: #569EDC;
}

.help__wrapper {
  position: absolute;
  width: 241px;
  padding: 24px 16px;
  background: #fff;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.help__wrapper:before {
  content: "";
  background: #fff;
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  top: -6px;
  right: 16px;
}

.help__wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.help__title {
  margin-bottom: 2px;
}

.help__phone {
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
  line-height: 38px;
}

.help a.help__write {
  color: #004685;
  text-decoration: underline;
  transition: 0.2s ease color;
}

.help a.help__write:hover {
  color: #569EDC;
}

.burger {
  width: 48px;
  height: 48px;
  padding: 12px;
  cursor: pointer;
  position: relative;
}

.burger__line {
  width: 30px;
  height: 3px;
  background: #004685;
  transition: 0.2s ease;
  position: absolute;
  left: 12px;
}

.burger__line:first-child {
  top: 12px;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line:last-child {
  bottom: 12px;
}

.burger:hover .burger__line {
  background: #569EDC;
}

.burger.active .burger__line:first-child {
  transform: rotate(45deg);
  top: 22px;
}

.burger.active .burger__line:nth-child(2) {
  transform: scale(0);
}

.burger.active .burger__line:last-child {
  transform: rotate(-45deg);
  bottom: 22px;
}

.no-webp .hero{
  background-image: url("../img/hero-bg.jpg"); }

.hero {
  padding: 90px 0 110px;
  color: #fff;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  margin-bottom: 16px;
}

.hero__form {
  margin-bottom: 12px;
  position: relative;
}

.hero__button {
  margin-left: 18px;
}

.hero__button-mobile {
  color: #004685;
  position: absolute;
  margin: 0;
  right: 14px;
  display: none;
}

.hero__button-mobile:hover {
  color: #569EDC;
}

.hero__button-mobile svg {
  fill: currentColor;
}

.pay {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pay__title {
  margin-bottom: 16px;
}

.pay__title-mobile {
  display: none;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-align: center;
}

.pay__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 570px;
  margin: 0 auto 8px;
}

.pay__link,
.pay__other {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.pay__link {
  color: #004685;
  margin-right: 28px;
  border-bottom: 1px dotted;
}

.info-block__header {
  display: none;
  color: #004685;
  transition: 0.2s ease color;
  cursor: pointer;
  padding: 6px 0;
  align-items: center;
}

.info-block__header svg {
  fill: currentColor;
  transition: 0.2s ease transform;
}

.info-block__header:hover {
  color: #569EDC;
}

.info-block__icon {
  margin-right: 18px;
}

.info-block__arrow {
  margin: 0 0 0 auto;
}

.info-block__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px dotted;
}

.info-block__content {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.info-block__content_reverse {
  flex-direction: row-reverse;
}

.info-block__content_reverse img {
  margin: 0 40px 0 0;
}

.info-block__text {
  font-size: 16px;
}

.info-block__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 22px;
}

.info-block__subtitle {
  color: #d30531;
  text-transform: uppercase;
  font-weight: 700;
}

.info-block p + p {
  margin-top: 12px;
}

.info-block__item + .info-block__item {
  margin-top: 35px;
}

.info-block__img {
  width: 320px;
  height: 320px;
  margin: 0 0 0 40px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: rgba(0, 70, 133, 0.2);
}

.companies {
  padding: 30px 0 60px;
}

.companies__title {
  margin-bottom: 53px;
}

.companies__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.company {
  text-align: center;
}

.company__img {
  height: 100px;
  margin-bottom: 15px;
}

.company__name {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.footer {
  background: rgba(0, 70, 133, 0.2);
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer__container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 32px;
}

.footer__img {
  max-width: 79px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease opacity;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 3;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}

.modal__wrapper {
  width: 400px;
  padding: 40px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 290px;
}

.modal__close {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
  transition: 0.2s ease color;
}

.modal__close svg {
  fill: currentColor;
}

.modal__close:hover {
  color: #569EDC;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  margin-bottom: 16px;
}

.modal__button {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
}

.modal__link {
  margin-bottom: 16px;
  font-size: 16px;
}

.modal__link:last-child {
  margin-bottom: 0;
}

.modal__link a {
  color: #004685;
  border-bottom: 1px dotted;
  transition: 0.2s ease color;
}

.modal__link a:hover {
  color: #569EDC;
}

@media (max-width: 1000px) {
  .container-small {
    max-width: 100%;
    padding: 0 16px;
  }

  .container-big {
    padding: 0 20px;
  }
}

@media (max-width: 980px) {
  .companies__items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 16px;
  }
}

@media (max-width: 799px) {
  body {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
    line-height: 27px;
  }

  .header {
    height: 48px;
  }

  .header__logo {
    max-width: 195px;
    margin-right: 0;
  }

  .header__wrapper {
    flex-direction: row-reverse;
  }

  .header__menu {
    top: 48px;
    left: unset;
    right: 0;
    transform: translateX(100%);
    width: 268px;
  }

  .help {
    display: none;
  }

  .burger {
    width: 22px;
    height: 17px;
    padding: 0;
  }

  .burger__line {
    width: 24px;
    left: 0;
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:last-child {
    bottom: 0;
  }

  .burger.active .burger__line:first-child {
    transform: rotate(45deg);
    top: 7px;
  }

  .burger.active .burger__line:last-child {
    transform: rotate(-45deg);
    bottom: 7px;
  }

  .hero__button-desktop {
    display: none;
  }

  .hero__button-mobile {
    display: block;
  }

  .hero {
    padding: 40px 0;
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 19px;
  }

  .hero__form {
    margin-bottom: 8px;
  }

  .hero__input {
    height: 48px;
    max-height: 48px;
    border-radius: 4px;
    padding: 0 8px;
  }

  .hero__description {
    line-height: 16px;
  }

  .pay {
    padding-bottom: 0;
  }

  .pay__title-desktop {
    display: none;
  }

  .pay__title-mobile {
    display: block;
  }

  .pay__links {
    display: none;
  }

  .info-block__header {
    display: flex;
  }

  .info-block__content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  .info-block_active .info-block__arrow {
    transform: rotate(-180deg);
  }

  .info-block_active .info-block__content {
    padding: 12px 0 20px;
  }

  .info-block__img,
  .info-block__title {
    display: none;
  }

  .info-block__item + .info-block__item {
    margin-top: 20px;
  }

  .companies {
    padding: 26px 20px 35px;
  }

  .companies__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .companies__title {
    margin-bottom: 26px;
  }

  .company__img {
    margin-bottom: 8px;
  }

  .footer {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    display: flex;
    margin-bottom: 16px;
  }

  .footer__copy {
    margin-right: 4px;
  }

  .modal__wrapper {
    width: 100%;
    height: 100%;
    padding: 22px 20px;
  }
}

.webp .hero{ background-image: url(../img/hero-bg.webp); }